<div class="well well-lg col-md-6 center center-block">
  <form name="loginForm" class="form-horizontal" ng-controller="LoginController" novalidate>
    <fieldset>
      <legend>Login</legend>
      <div class="form-group" ng-class="{ 'has-error':loginForm.inputEmail.$invalid && loginForm.inputEmail.$dirty}">
        <label for="inputEmail" class="control-label col-md-2">Email</label>
        <div class="col-md-10">
          <input
          id="inputEmail" 
          type="email" 
          name="inputEmail" 
          class="form-control input-lg" 
          placeholder="you@email.com"
          ng-model="user.username"
          ng-pattern="emailPattern"
          ng-require="true"
          >
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-error':loginForm.inputPassword.$invalid && loginForm.inputPassword.$dirty }">
        <label for="inputPassword" class="control-label col-md-2">Password</label>
        <div class="col-md-10">
          <input 
          id="inputPassword"
          type="password" 
          name="inputPassword" 
          class="form-control input-lg"
          ng-model="user.password"
          ng-required="true"
          >
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12">
          <button
          ng-click="login()"
          ng-disabled="loginForm.$invalid" 
          class="btn btn-primary btn-lg center-block">Let's Go</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>